@charset "UTF-8";
* {
	visibility: visible;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	outline: none;
	transition: all 0.3s;
}
html {
	font-size: 15px;
}
html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}
body {
	height: 100%;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	background: #2c2d44;
	.vertical-centered-box .content {
		box-sizing: border-box;
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		font-size: 0;
	}
	.vertical-centered-box:after {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em;
	}
	.vertical-centered-box {
		position: fixed;
		width: 100%;
		height: 100%;
		text-align: center;
	}
}
.loader-circle {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	margin-left: -60px;
	margin-top: -60px;
}
.loader-line-mask {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 60px;
	height: 120px;
	margin-left: -60px;
	margin-top: -60px;
	overflow: hidden;
	transform-origin: 60px 60px;
	mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
	-webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
	animation: rotate 1.2s infinite linear;
}
.loader-line-mask .loader-line {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
#particles-background, #particles-foreground {
	left: -51%;
	top: -51%;
	width: 202%;
	height: 202%;
	transform: scale3d(0.5, 0.5, 1);
}
#particles-background {
	background: #2c2d44;
	background-image: -moz-linear-gradient(45deg, #4645d0 5%, #3f3251 100%);
	background-image: -webkit-linear-gradient(45deg, #4645d0 5%, #3f3251 100%);
	background-image: linear-gradient(45deg, #4645d0 5%, #3f3251 100%);
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes fade {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.25;
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#result-iframe-wrap {
	width: 100%;
}
.announce-top {
	width: 100%;
	height: 70px;
}
.main {
	width: 100%;
	height: 800px;
	background: rgb(54, 53, 255);
	background: linear-gradient(90deg, rgba(54, 53, 255, 1) 18%, rgba(70, 69, 208, 1) 57%, rgba(76, 76, 233, 1) 100%);
}
.announce-top-content {
	width: 100%;
	margin: 0 auto;
	display: flex;
	height: 70px;
	justify-content: center;
}
.gryflogo {
	margin-top: 10px;
	float: left;
	width: 50px;
	height: 50px;
}
.announce-top-text {
	margin-top: 25px;
	margin-left: 15px;
	margin-right: 15px;
}
.announce-top-button {
	width: 120px;
	border-radius: 40px;
	margin-top: 15px;
	background-color: #4645d0;
	height: 40px;
	cursor: pointer;
	color: white;
	font-weight: 500;
	font-size: 14px;
	&:hover {
		box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
	}
}
#navbar {
	top: 0;
	z-index: 100 !important;
	width: 100%;
	height: 80px;
	transition: all 0.5s;
}
nav {
	align-items: center;
	display: flex;
	justify-content: center;
}
#nav-container {
	
	text-align: center;
	width: 70%;
	display: flex;
	margin: auto 0;
	height: 80px;
	font-size: 20px;
	img {
		-webkit-user-select: none;
    	-moz-user-select: none;
    	-ms-user-select: none;
    	user-select: none;
		float: left;
	}	
}
.hrefs {
	a {
		float: right;
		color: white;
		margin: 10px;
		margin-top: 26px;
		text-decoration: none;
		&:hover {
			border-bottom: 1px solid;
		}
	}
}
.menu-container { 
	height: 80px; 
	background-color: transparent;
}
.sticky {
	
	color: #4645d0;
	background-color: rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	z-index: 99 !important;
	width: 100%;
}
.sticky+.content {
	padding-top: 60%;
}
#container {
	width: 100%;
	background-color: white;
}
.loader-wrapper {
	overflow: hidden;
	width: 100%;
	height: 100%;
	z-index: 99 !important;
	position: absolute;
	top: 0;
	left: 0;
}
.banner2 {
    z-index: 0; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	position: relative;
	float: right;
	padding-top: 108px;
}
.banner1 {
	z-index: 0; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	position: relative;
	float: left;
	padding-top: 108px;
}
.main-text {
	font-size: 45px;
	font-weight: bolder;
}
.bottom-text {
	max-width: 570px;
	font-size: 20px;
	margin-top: 5px;
	font-weight: normal;
}
.left {
	max-width: 570px;
	color: white;
	margin-top: 150px;
	margin-left: calc(35% - 70px);
	position: absolute;
	width: calc(60vh - 80px);
	float: left;
	a {
		text-decoration: none;
		color: white;
	}
}
.main-button {
	width: 300px;
	border-radius: 40px;
	height: 50px;
	cursor: pointer;
	font-weight: 500;
	font-size: 20px;
	&:hover {
		box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
	}
	
}
.bc {
	color: black;
	background-color: white;
	margin-top: 200px;
}
.ac {
	margin-top: 70px;
}
.dc, .ac {
	color: white;
	background-color: #4645d0;
}
#divgrid {
	h1 {
		padding-top: 56px;
		font-weight: 700;
		font-size: 48px;

	}
	p {
    	display: flex;
    	max-width: 600px;
		padding-top: 24px;
		font-size: 20px;
    	justify-content: center;
    	text-align: center;
   		margin: 0 auto;
	}
}
.divgrid-gridinside {
	margin-left: auto;
	margin-right: auto;
	left: 0;
	margin-top: 50px;
	right: 0;
	text-align: center;
	position: absolute;
	width: 60%;
	text-align: center;
}

.divgrid-gridoutside {
	padding-top: 165px;
}

.grid1 {
	background-color: white;
	
}

.grid2 {
	background-color: #f6f6f6;;
}

.grid1, .grid2 {
	height: 680px;
	img {
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: center;
		width: 1000px;
		height: 350px;
		z-index: 0;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		position: relative;
	}
}

.grid3 {
	height: 340px;
	background-color: #2c2c2c;
	img {
		
		height: 80px;
	}
}
.divgridinfobox {
	margin-left: auto;
	justify-content: center;
	display: flex;
	margin-right: auto;
	width: 40%;
	a {
		margin-top: 70px;
		margin-left: 25px;
		margin-right: 25px;
		margin-bottom: 30px;
		color: #4645d0;
		text-decoration: none;
		font-size: 16px;
    	line-height: 24px;
		border-bottom: 1px solid #2c2c2c;
		box-sizing: border-box;
		&:hover {
			border-bottom: 1px solid #4645d0;
		}
	}
}
.divgridinfobottom {        
	border-top: 2px solid#4645d0;
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
.dc {
	margin-top: 15px;
	float: right;
}